.modal.fade{:id => "terms_and_conditions", :tabindex => "-1", :role => "dialog", 'aria-hidden' => 'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', 'data-dismiss' => 'modal'}
          .span{'aria-hidden' => 'true'} &times;
          .span.sr-only Close
        %h4.modal-title ShipX User Agreement
      .modal-body
        %ol
          %li
            %b Introduction:
            %br
            This agreement outlines the terms and conditions with which ShipX offers Shippers and Transportation Service Providers access to ShipX website and services.  These terms and conditions may be modified from time to time by ShipX.  They may not be modified by you and by using ShipX services you acknowledge that you accept these terms and conditions without dispute.  While we will make every attempt to inform you of material changes you hereby agree to comply with the terms of this document which are in effect at such time as a service was provided to you.  We reserve the right to discontinue our services at any time without notice and without any liability to Shippers and Transportation Service Providers.
            The effective date of this agreement is October 15, 2014. The legal entity with which you are contracted by virtue of this agreement is ShipX, LLC located at 7133 W 95th Street, Overland Park, KS 66212.  This agreement is governed by the laws of the State of Kansas.
            %br
            %br
          %li
            %b ShipX services, responsibilities and business practices
            %br
            ShipX connects Shippers and Transportation Service Provider (TSP) by providing pricing for shipments and providing a venue where they can enter into agreements.  ShipX is not a party to any agreement made on the ShipX website.  Once the Shipper chooses a TSP all interaction is between those parties and we have not control over the quality, safety or the legal aspects of the transaction.  We do not prequalify the TSPs which participate on the ShipX site and therefore we don’t take any responsibility for their claims, license, insurance, MAP21 compliance or their overall performance.  Conversely we do not prequalify the Shippers who utilize ShipX and therefore cannot be responsible for their actions.  ShipX is not a broker, TSP or Shipper.
            %br
            %br
            %b Payments
            %br
            As part of ShipX service we collect and disperse payments for the shipping service provided by the TSP through a third party payments clearing house.  The clearing house collects the full amount of the shipping charge including the booking fee at the time of booking and places it in an escrow account.  The escrowed funds due are released to the TSP and ShipX when the shipment is picked up by the TSP.  Any additional charges incurred in the execution of the shipment such as reclassification of the shipment or unbilled accessorials will be billed directly by TSP to the Shipper.  Any disputes will lie solely between the Shipper and the TSP and do not involve ShipX.
            %br
            %br
            %b Bill of Lading
            %br
            ShipX generates a Bill of Lading for each shipment utilizing information collected from the Shipper and the TSP.  This document is provided as a service only and is deemed to have been prepared by the Shipper.  The parties agree that ShipX does not issue the Bill of Lading and is not a party to it.
            %br
            %br
            %b Pricing and extra charges
            %br
            All prices are independently set by the TSPs and ShipX has no control over them.  Quoted prices are locked in when the shipment is booked. TSPs are required to provide all-inclusive prices based on the information the shipper provides.  If the actual shipment varies from what was originally specified by the Shipper in size, weight, or freight classification or if accessorial services are required to execute the shipment, the TSP will directly charge the Shipper additional fees. Any disputes over such matters will be solely between the Shipper and the TSP, and will not involve ShipX.  IT IS EXTREMELY IMPORTANT THAT THE SHIPMENT BE PROPERLY CLASSED AND PICKUP/DELIVERY CONDITIONS ARE SPECIFIED SO EXTRA CHARGES CAN BE AVOIDED.
            %br
            %br
            %b Cancellations
            %br
            %b If the shipper cancels the shipment more than 24 hours prior to scheduled pickup all funds will be refunded to the Shipper.  If shipment is cancelled within 24 hours of scheduled pickup, ShipX will refund all fees minus ShipX booking fee and $50.00 cancellation fee to the TSP.  If the TSP cancels the shipment at any time, all funds will be refunded to the Shipper.
            %br
            %br
            %b Insurance
            %br
            ShipX may offer cargo insurance coverage for your shipment.  ShipX is not an insurance broker or insurer and any insurance purchased is solely between Shipper and the Insurance Company.  ShipX may collect an advertising fee from the Insurance company but is not a party to the agreement between Insurer and Shipper.
            %br
            %br
          %li
            %b Shipper responsibilities
            %br
            The Shipper is responsible for reading and understanding all terms, conditions and fees published by the TSPs.  By booking your freight with a TSP a Shipper is agreeing to the TSPs terms, conditions, fees and business practices. The shipper acknowledges that pickup dates, delivery dates and transit times are estimates only.  Additionally Shipper is responsible for properly specifying the freight, pickup and destination or be subject to additional fees charged by the TSP.  Since ShipX does not screen TSPs for their compliance to federal, state and local regulations or MAP21 compliance the Shipper should confirm compliance with the TSP prior to shipment.
            %br
            %br
          %li
            %b Transportation Service Provider responsibilities
            %br
            Transportation Service Providers (TSP) include Carriers, Brokers and Third Party Logistics companies.  A TSP must legally be able to transport shipments and comply with all local, state and federal laws and licensing requirements.  The rates provided by a TSP through ShipX are solely provided by the TSP and are binding to the shipper for the freight and lane the Shipper has defined.  Furthermore, any booked shipment with the TSP is a legally binding obligation of the TSP. ShipX has no control of the accuracy of the shipment information.  If the freight classification or other information not does not accurately describe the freight, the TSP will turn to the Shipper, not ShipX for any extra charges.
            %br
            %br
          %li
            %b Prohibited or restricted items
            %br
            Shippers may not ship any hazardous or dangerous goods that are prohibited by the US Postal service or commercial carriers defined but not limited to radioactive materials, flammable or toxic or explosive substances.  Anyone who sends, or causes to be sent, a non-mailable or improperly packaged hazardous material can be subject to legal penalties (i.e., fines and/or imprisonment), including but not limited to those specified in 18 U.S.C.
            %br
            %br
          %li
            %b Taxes
            %br
            The Shipper is solely responsible for any and all taxes, levies, charges and fees incurred or that may be payable to any taxing authority in connection with shipments booked through ShipX.  All fees quoted through ShipX are net of any applicable taxes.
            %br
            %br
          %li
            %b Limited Liability
            %br
            The Shipper and TSP hereby acknowledge that ShipX does not guarantee the continuous operation or access to our website and that you accept our software on an AS-IS basis.  We exclude all express or implied warranties and are not liable for any losses you may incur resulting indirectly to software and service related items such as downtime, viruses or bugs in our software or software provided by third parties.
            %br
            %br
          %li
            %b Indemnity
            %br
            By acceptance of this User Agreement, You agree to indemnify and hold ShipX LLC harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your negligence, breach of this Agreement, or violation of any law or the rights of a third party.
            %br
            %br
          %li
            %b Arbitration
            %br
            Any legal claim arising out of or relating to this Agreement or ShipX services, shall be settled by binding arbitration in accordance with the commercial arbitration rules of the American Arbitration Association. The arbitration shall be conducted in the State of Kansas and judgment on the arbitration award may be entered into any court having jurisdiction thereof.
            %br
            %br
          %li
            %b ShipX software license
            %br
            By acceptance of this User Agreement you acknowledge and agree that your use of the ShipX website and services gives you no claim to or right to use, duplicate, license or disseminate ShipX intellectual property.  You agree that all intellectual property, copyrighted and trademarked materials contained in the ShipX website are the property of ShipX and will not be used by you in any way without express written permission from ShipX.
            %br
            %br
          %li
            %b General terms
            %br
            The invalidity or unenforceability of any provision of this Agreement shall not affect the validity of this Agreement as a whole. The failure by either party to enforce any of the provisions of this Agreement, to exercise any option provided herein, or to require at any time the performance of any of the provisions herein will not in any way be construed as a waiver of such provisions. Reasonable attorneys' fees and costs will be awarded to the prevailing party in the event of litigation involving the enforcement or interpretation of this Agreement. The section headings are for clarity and do not have any legal meaning.
            %br
            %br
          %li
            %b Privacy Policy
            %br
            ShipX collects voluntarily provided information which may include name, address, billing and/or credit card information which may be used when you book a shipment.  We also store information that is automatically collected such as cookies, third party tracking techniques and server logs.
            This information wil only be used for purposes of transacting the business for which it was intended. Additionally ShipX may make use of the personal information to assist in the operation of our website and ensure delivery and convenience  of the services you need and request and we may use your contact information to keep you informed of ShipX products and services you may be interested in.
            ShipX does not now nor will it in the future sell, rent or lease any of our customer lists and names to any third parties.  ShipX will take every precaution to maintain adequate physical, procedural and techinical security with respect to our offices and servers to prevent any loss, misuse, unauthorized access, disclosure or modification of the users personal information under our control.
            We reserve the right to change the terms of our privacy policies and if we do, such will be posted on our website at www.shipxfreight.com.  Through the use of the ShipX service and website you hereby accept the terms of our Privacy Policy.
