#shipment_parts-payment{'data-id' => @shipment.id}
  .row{style: 'margin-top: 10px'}
    .col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-heading
          %h3.panel-title Booked Shipment
        .panel-body
          = render :partial => 'shipment/complete'